select {
  font-size: 16px;
}

#xAxis {
  font-size: 16px;
}

#yAxis {
  font-size: 16px;
}

#country-stats{
  position: absolute;
  top: 40px; right: 60px;
  border-style: solid;
  height: auto;
  width: 200px;
  border-color: #0096FF; 
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}